/*Configuracoes pra toda parte da aplicacao*/

.background-color {
	-fx-background-color:#3399ff;
}

.textFields {
	-fx-background-color: white;
	-fx-prompt-text-fill: grey;
	-fx-background-radius: 5.0px;
	-fx-text-fill: black;
	}
	
.textos{
	-fx-fill: black;
	-fx-font-size:14.0px;
	-fx-text-alignment: center;
}	
.botoes{
	-fx-text-fill: white;
	-fx-font-size:18.0px;
	-fx-font-family: Optima;
	-fx-background-color: #4090ff;
	-fx-border-width: 5.0px;
	-fx-border-color: #2b3eff;
}

.botoes:hover{
	-fx-text-fill: black;
	-fx-font-size:20.0px;
	-fx-font-family: Arial;
	-fx-background-color: white;
	-fx-border-radius: 10.0px;
	-fx-background-radius: 12.0px;
	-fx-border-width: 5.0px;
	-fx-border-color: black;
	-fx-pref-height: 180.0; 
	-fx-pref-width: 220.0;
	}

/*Tela de login */

.circulo {
	-fx-stroke: none;
	-fx-fill: white;
}

.carrinho {
	-fx-opacity: 1.0;
}

.carrinho:hover{
	-fx-opacity:0.0;
}

.btLogar {
	-fx-text-fill: black;
	-fx-font-size:14.0px;
	-fx-font-family: Arial;
	-fx-background-color: white;
	-fx-border-radius: 10.0px;
}
#btEditar {
	-fx-text-fill: black;
	-fx-font-size:14.0px;
	-fx-font-family: Arial;
	-fx-background-color: #4090ff;
	-fx-border-radius: 10.0px;
}

#btRemover {
	-fx-text-fill: black;
	-fx-font-size:14.0px;
	-fx-font-family: Arial;
	-fx-background-color:  #4090ff;
	-fx-border-radius: 10.0px;
}

#btRemover:hover {
	-fx-text-fill: white;
	-fx-background-color: #0211ad;
	-fx-font-size:16.0px;
	-fx-font-family: Arial;
}

#btEditar:hover {
	-fx-text-fill: white;
	-fx-background-color: #0211ad;
	-fx-font-size:16.0px;
	-fx-font-family: Arial;
}
.labelAtrasCarrinho {
	-fx-text-fill: white;
	-fx-font-family: Arial;
	-fx-font-size: 14.0px;
	-fx-background-color: white;
}

/* Telas de listagem */

#colunas {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size:14.0px;
	-fx-font-family: Arial;
	-fx-alignment: center;
	-fx-border-color: #d5e2f7;
}

#colunas:hover {
	-fx-text-fill: white;
	-fx-background-color: #0211ad;
	-fx-font-size:16.0px;
	-fx-font-family: Arial;
}

#colunas2 {
	-fx-background-color: #4090ff;
	-fx-text-fill: black;
	-fx-font-size:14.0px;
	-fx-font-family: Arial;
}

#colunas2:hover {
	-fx-text-fill: white;
	-fx-background-color: #0211ad;
	-fx-font-size:16.0px;
	-fx-font-family: Arial;
}

.labellistas {
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-font-size:18.0px;
	-fx-font-family: Arial;
}

.botoesLista {
    -fx-border-color: white;	
    -fx-text-fill: white;
    -fx-font-size:18.0px;
    -fx-font-family: Optima;
    -fx-background-color: #4090ff;
    -fx-border-width: 5.0px;
}
	

.botoesLista:hover {
	-fx-text-fill: black;
	-fx-font-size:20.0px;
	-fx-background-color: white;
	-fx-border-radius: 10.0px;
	-fx-background-radius: 12.0px;
	-fx-border-width: 5.0px;
	-fx-border-color: black;
}

